table{
  width: 94vw;
  margin: 0 auto;
  box-shadow: inset 0px -1px 0px #D9D9D9;
}

.mat-header-cell{
  background: rgba(0, 0, 0, 0.02);
/*   box-shadow: inset 0px -1px 0px #D9D9D9; */
}

.circleName{
  color: #CA4A02;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #FFE0B2;
  border-radius: 50%;
  font-size: 12px;
  padding: 6px;
  text-align: center;
  margin-right: 10px;
}

.userPhoto{
  object-fit: cover;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.row{
  display: flex;
  align-items: center;
}

p{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.65);
  margin: 0px;
}

.statusText{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  padding: 3px 8px;
  background: #F5F5F5;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 4px;
  color: #595959;
}

p.grey{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.45);
}

tr.mat-row{
  height: 65px;
}

.borderAndShadow{
  box-shadow: 0px 2px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
}

th{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.85);
}

.menuProject {
  min-width: 137px !important;
  position: absolute;
  width: 135px !important;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #262626;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.icon{
  padding: 5px 14px 5px 9px;
}

.mat-menu-content {
  padding: 0px !important;
}

.column{
  flex-direction: column;
}

.flex{
  display: flex;
}

.menuBottom{
  border-bottom: 1px solid #DDDDDD;
}

.menuProject img{
  width:12.6px;
  height: 12.6px;
  margin-right: 16px;
  margin-left: 10px;
}

.itemCenter{
  align-items: center;
  padding: 10px;
}

.itemCenter:hover{
  cursor: pointer;
  background-color: aquamarine;
}

.buttonMenu:hover{
  cursor: pointer;
}

 *, ::after, ::before {
  box-sizing: content-box !important;
}
 .row{ flex-wrap: nowrap !important;}

@media (max-width:800px){
  tr{
    height: 129px !important;
  }
  .menuProject{
    left: 71vw!important;
  }
}
