<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-header (changeView)="view=$event;subText='My projects'" [sub]="subText"></app-header>
  <div *ngIf="view=='list'">
    <app-list-projects (editView)="showEdit($event)" [listProjects]="projects"></app-list-projects>
  </div>
  <div *ngIf="view=='new'">
    <app-new-project (saveNew)="createProject($event)"></app-new-project>
  </div>
  <div *ngIf="view=='edit'">
    <app-edit-project (saveEdit)="updateProjects($event)" [selectProject]="project"></app-edit-project>
  </div>
</body>
</html>
