<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-header (changeView)="setView($event)"  [view]="view" [title]="subText"></app-header>
  <app-list-projects *ngIf="view == 'list'" (editView)="showEdit($event)" (sub)="changeSub($event)" [listProjects]="projects"></app-list-projects>
  <app-new-project *ngIf="view == 'new'" (saveNew)="createProject($event)" (sub)="changeSub($event)"></app-new-project>
  <app-edit-project *ngIf="view == 'edit'" (saveEdit)="updateProjects($event)" (subEdit)="changeSub($event)" [selectProject]="project"></app-edit-project>
</body>
</html>
